<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>思淋的相册空间</title>

    <link rel="stylesheet" href="/resources/css/reset.min.css">
    <link rel="stylesheet" href="/resources/css/style1.css">

</head>
<body>

<embed src="/resources/music/2.mp3" loop="11" autostar="true" hidden="true"/>
<div class="preloader" src="/resources/images/Home.jpg"></div>
<div class="preloader" src="/resources/images/wsm1.jpeg"></div>
<div class="preloader" src="/resources/images/we1.jpeg"></div>
<div class="preloader" src="/resources/images/lin1.jpeg"></div>
<div class="preloader" src="/resources/images/lin2.jpeg"></div>
<div class="preloader" src="/resources/images/lin3.jpeg"></div>
<div class="preloader" src="/resources/images/lin4.jpeg"></div>
<div class="preloader" src="/resources/images/lin5.jpeg"></div>
<div class="preloader" src="/resources/images/lin6.jpeg"></div>
<div class="preloader" src="/resources/images/lin7.jpeg"></div>
<div class="preloader" src="/resources/images/lin8.jpeg"></div>
<div class="preloader" src="/resources/images/lin9.jpeg"></div>
<div class="preloader" src="/resources/images/lin10.jpeg"></div>
<div class="preloader" src="/resources/images/lin11.jpeg"></div>
<div class="preloader" src="/resources/images/end.jpg"></div>
<div id="wrapper">
    <div id="nextBox">下一张</div>
    <input type="range" min="35" max="395" value="35" id="range"/>
</div>

<script  src="/resources/js/index1.js"></script>

</body>
</html>